- if previous_question = @question.previous
  = link_to previous_question, class: "btn" do
    %i.icon-step-backward
    Previous
= link_to [@question.group, :questions], class: "btn" do
  %i.icon-eject
  All
- if next_question = @question.next
  = link_to @question.next, class: "btn btn-primary" do
    Next
    %i.icon-step-forward
