.page-header
  %h1 Questions
- if @questions.empty?
  You have not subscribed to any question, click 
  = link_to "here", groups_path
  to start, or you have answered all your question.
- else 
  = render :partial => 'list'
