.page-header
  %h1 Questions
- if @questions.empty?
  There is no question in due.
- else 
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Category
        %th Status
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @questions.each do |question|
        %tr
          %td= link_to question.content, question_path(question)
          %td= question.category_name
          %td Unanswered
          %td
            = link_to "Answer", [:new, question, :answer], class: "btn btn-mini"
