.jumbotron
  %h2 Welcome to the Gentoo Recruitment Web-Application
  %p
    If you want to become a Gentoo developer or staffer, make sure you read 
    %a(href="http://www.gentoo.org/proj/en/devrel/handbook/handbook.xml?part=1&chap=2") this document 
    first. In case you are interested in becoming an Arch Tester, make sure the respective arch team is aware of your interest.  If you have any questions, do not hesitate to e-mail us at 
    %a(mailto="recruiters@gentoo.org") recruiters@gentoo.org.
  %p
    %a.btn.btn-primary.btn-lg(href="http://www.gentoo.org/proj/en/devrel/handbook/handbook.xml?part=1&chap=2" role="help") Find More
