$("a[data-remote=true]").parent(".btn-group").fadeOut();
$(".label-info").removeClass("label-info").addClass("label-success").html("Accepted by #{unsluggish_name(current_user.name)}");
$(".label-danger").removeClass("label-danger").addClass("label-success").html("Accepted by #{unsluggish_name(current_user.name)}");
