$("a[data-remote=true]").parent(".btn-group").fadeOut();
$(".label-info").removeClass("label-info").addClass("label-danger").html("Rejected by #{current_user.name}");
$(".label-success").removeClass("label-success").addClass("label-danger").html("Rejected by #{current_user.name}");
