.page-header
  %h2 Project list

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Leader(s)
      %th Members
      %th Description
      - if can? :apply, Project
        %th Apply
  %tbody#projects

= paginate @projects

- content_for :js do
  :javascript
    var can_apply = #{can? :apply, Project};
    new Gentoo.Routers.Projects(#{@projects.to_json});
