production:
  adapter: mysql2
  database: gentoo_production
  username: gentoo
  password:
  port: 3306
  pool: 5
  encoding: utf8
  reconnect: false

mysql: &mysql
  adapter: mysql2
  username: root
  password:
  database: recruiting_<%= Rails.env %>

postgresql: &postgresql
  adapter: postgresql
  username: postgres
  password:
  database: recruiting_<%= Rails.env %>
  min_messages: ERROR

defaults: &defaults
  pool: 16
  timeout: 5000
  host: localhost
  <<: *<%= ENV['DB'] || "mysql" %>

development:
  <<: *defaults

test:
  <<: *defaults
