// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

$gentoo:                #5C4F85;

// Accent colors
// -------------------------
$blue:                  #3E78B3;
$blueDark:              #033C73;
$green:                 #73A839;
$red:                   #C71C22;
$yellow:                #F7B42C;
$orange:                #DD5600;
$pink:                  #F49AC1;
$purple:                #9760B3;
$brand-primary:         #5C4F85;

$link-color:                       #7A5ADA;
$link-color-hover:                 darken($link-color, 15%);

$navbar-default-bg:                $brand-primary;
$navbar-default-link-color:        $grayLighter;
$navbar-default-link-hover-color:  $white;

