/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require github
 */
/*@import "bootswatch/cerulean/variables";*/
@import "gentoo";
@import "bootstrap";
/*@import "bootstrap-responsive";*/
@import "compass";
@import "bootswatch/cerulean/bootswatch";
@import "font-awesome";

body { padding-top: 60px; }
input, textarea { width: 400px; }
.hidden { display: none; }
#epiceditor{ height: 400px }
textarea.comment { width: 680px; height: 88px; }
/* fixes for conflits between font-awesome and glyphicons */
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}

#app { min-height: 600px; }

#sidebar {
  border: none;
  min-height: 600px;
  background-color: #DDDAEC;
  /*@include background-image(linear-gradient(center top, lighten($linkColor, 35%) $linkColor));*/
}
.nav-list a {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1.4em;
}

a.btn-primary:visited, a.btn-success:visited, a.btn-warning:visited { color: white }

/* footer */
footer { margin-top: 20px; }
footer.main .inner { height: 40px; width: 940px; margin: 0 auto; position: relative; text-align: center; }
footer.main .inner p { display: inline-block; }
footer.main .inner ul { padding-top: 12px; margin-left: 20px; display: inline-block; }
footer.main .inner ul li { display: inline-block; margin-right: 10px; }

.navbar .navbar-inner .brand { 
  padding: 8.5px 20px;
}
